*{
    transition: all 0.3s;
}
body, html {
    height: 100%;
    margin: 0;
    min-width: 1000px;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #D3D3D3;
}

.top {
    flex-grow: 1;
}
header {
    height: 250px;
    background-color: #D9D9D9;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.logo__name{
    display: flex;
    height: 250px;

}
.logo {
    height: 250px;
    width: 250px;

}
.logo__img {
    max-height: 250px;
    max-width: 250px;
    outline: none;
}
h1 {
    margin: 0;
}
.right__logo {
    width: 100%;
}
.site_name{
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
}
.name_site{
    margin-top: 3%;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    color: #2F4F4F;
}
.name_explanation {
    margin-top: 2%;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.3px;
    color: #2F4F4F;
    font-size: 26px;
}
.menu{
    margin-top: 55px;
}
.menu__main {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.link_nav {
    display: block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #2F4F4F;
    padding: 5px;

}
.link_nav:hover{
    color: blue;
}
.link_nav:active{
    color:red;
}
main {
    box-sizing: border-box;
    padding: 30px 0 30px 0;

}
.h3_text, .h3_categories{
    text-align: center;
    color: #2F4F4F;
    font-size: 22px;
    text-transform: uppercase;
}
.main_text_introduction{
    text-align: justify;
    font-family: "Times New Roman", Times, Serif;
    font-size: 18px;
    text-indent: 50px;

}
footer{
    height: 250px;
    background-color: darkgray;
    box-sizing: border-box;
    padding-top: 40px;
}
.footer_year{
    font-size: 20px;
    color: #2F4F4F;
    text-align: center;
    margin-top: 90px;
}
.footer_class{
    max-width: 1000px;
    margin: 0 auto;
}


.main_categories_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 300px;

}
.category {
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#DCDCDC, #A9A9A9);
    text-decoration: none;
    color: #2F4F4F;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}
.category:hover{
    box-shadow: 0 0 5px 1px black;
}
.category:active{
    border: 1px solid darkgray;
    box-shadow: 0 0 8px 2px black;
}

.category_news{
    font-family: "Times New Roman", Times, Serif;
    text-decoration: none;
    font-size: 26px;
    font-style: italic;
    display: block;
    color: black;
    text-align: center;
    outline: none;
}
.category_news span {
    font-size: 16px;
    transition: all 0s;
}
.briefly_news {
    margin: 8px 0 20px 0;
    font-family: "Times New Roman", Times, Serif;
    text-decoration: none;
    font-size: 18px;
    text-indent: 50px;
}
.detail_news{
    margin-top: 8px;
    font-family: "Times New Roman", Times, Serif;
    text-decoration: none;
    font-size: 18px;
    text-indent: 50px;
    text-align: justify;
}
.return_category{
    display: block;
    height: 50px;
    width: 500px;
    line-height: 50px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    color: #2F4F4F;
    font-size: 18px;
    background: linear-gradient(#DCDCDC, #A9A9A9);
}
.return_category:hover{
    box-shadow: 0 0 5px 1px black;
}
.return_category:active{
    box-shadow: 0 0 8px 2px black;
    border: 1px solid darkgray;
}

.category_news:hover{
    text-shadow: 0 0 1px white, 0 4px 5px #464451;
}
.category_news:active{
    text-shadow: 0 1px 4px #2F4F4F;
}
.auth_form{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth_input{
    width: 300px;
    height: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    font-size: 18px;
}
.auth_input_text, .add_news_input_text{
    font-size: 18px;
    font-family: "Times New Roman", Times, Serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.auth_input_checkbox{
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0;
    position: absolute;
    left: 131px;
    top: 1px;
    cursor: pointer;
}
.auth_label_checkbox{
    width: 300px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}
.auth_form_submit{
    width: 100px;
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

.add_news_form{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add_news_label, .add_news_select {
    width: 700px;
}
.add_news_textarea{
    width: 700px;
    outline: none;
    font-size: 16px;
    font-family: "Times New Roman", Times, Serif;
    padding: 5px 10px;
    resize: none;
    box-sizing: border-box;
}

.textarea_name{
    height: 30px;
}
.textarea_briefly{
    height: 50px;
}
.textarea_detail{
    height: 150px;
}
.category_select{
    width: 150px;
    height: 40px;
    font-family: "Times New Roman", Times, Serif;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}
.add_news_submit{
    width: 200px;
    height: 30px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    font-family: "Times New Roman", Times, Serif;
}
/* Стили для страницы "Обратная связь */
.feedback_form, .order_form{
    display: flex;
    margin: 0 auto;
    width: 400px;
    flex-direction: column;
    align-items: center;
}
.feedback_input, .order_input {
    box-sizing: border-box;
    width: 400px;
    padding: 0 10px;
    font-size: 10px;
    font-family: "Times New Roman", Times, Serif;
    height: 30px;
    font-size: 16px;
}
.feedback_textarea {
    box-sizing: border-box;
    width: 400px;
    font-size: 16px;
    font-family: "Times New Roman", Times, Serif;
    padding: 5px 10px;
    resize: none;
    height: 100px;
}
.feedback_form_submit, .order_form_submit {
    width: 205px;
    height: 30px;
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
.feedback_add, .order_make{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Times New Roman", Times, Serif;
}
/* Стили для страницы заказы выгрузки данных*/
.order_form_label_select{
    width: 400px;
    margin-bottom: 20px;
}
.order_form_label_select .category_select{
    height: 30px;
    width: 160px;
}


/* Медиа-запросы */
@media screen and (max-width: 1550px) {
    .container{
        width: 95%;
    }
}

@media screen and (max-width: 1300px) {
    .container{
        width: 95%;
    }
    body {
        font-size: 16px;
    }
    .name_site{
        font-size: 1.3rem;
    }
    .name_explanation {

        font-size: 1.1rem;
    }
    .link_nav {
        font-size: 0.8rem;
    }
    .footer_year {
        font-size: 0.9rem;
    }

}
